# Data science project in Python

Doormiddel van numpy, pandas, matplotlib & SciKit-learn

Door Louis D'Hont - Elektronica-ICT - 2021

## Project omschrijving

Het doel van deze opdracht is om op basis van bepaalde features het type klanten dat over gaat tot een nieuwe boeking te bepalen met een algoritme. Deze features zijn gehaald uit de hieronder beschreven data beschikbaar gesteld door TrailFinders. Ze organiseren paardrijvakanties over de hele wereld en helpen daarnaast ook om de vlucht, accomodatie, huurwagen, verzekeringen en dergelijke te regelen.

bepalen van de beste bestemming bepalen

In [1]:
#Importeren van gebruikte bibliotheken
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

#delete row that is not useful
#to_drop = ['Straat + nr.', 'Telefoon']
#df.drop(to_drop, inplace = True, axis = 1)()

#df_klanten['age'] = df_klanten['age'].astype('int64')


# Replace numerical value with string
#df['gender'].replace(0, 'Female', inplace=True)
#df['gender'].replace(1, 'Male', inplace=True)
# Replace all values that equal a specific variable
#df = df.replace(valueToReplace =["current", "alsoCurrent"],value ="newvalue")

## Data analyse

### Inlezen van data en features bepalen

Hieronder wordt de data die is aangeleverd behandeld.

In [2]:
klanten = pd.read_csv("../data/klanten.csv", sep=';') 
artikels = pd.read_csv("../data/artikels.csv", sep=';') 
bestellingen = pd.read_csv("../data/bestellingen.csv", sep=';') 
deelnemers = pd.read_csv("../data/deelnemers.csv", sep=';')

df_klanten = pd.DataFrame(klanten)
df_artikels = pd.DataFrame(artikels)
df_bestellingen = pd.DataFrame(bestellingen)
df_deelnemers = pd.DataFrame(deelnemers)

### Klantenlijst

Hieronder wordt de data uit de klantenlijst opgeruimd en aangepast.

In [3]:
df_klanten.dtypes

Familienaam        object
Voornaam           object
Straat + nr.       object
Telefoon           object
Klantnummer        object
Klantnummer CMS    object
Email              object
Creatie datum      object
Geb. datum         object
Locatie            object
Postcode           object
Land               object
dtype: object

In [4]:
#df_klanten['']

In [5]:
#check how many values are null
df_klanten.isnull().sum()

Familienaam           5
Voornaam             65
Straat + nr.         32
Telefoon           1334
Klantnummer           0
Klantnummer CMS    1656
Email                40
Creatie datum      1473
Geb. datum         2321
Locatie              31
Postcode             38
Land                  2
dtype: int64

After review, there is 1 volcano event that doesn't have an age. The record that has a null value for the year, also has a null value for location, country, lat, long, etc. This record does not help analysis and will be dropped.

To keep the default dataframe in tact, I've created a new dataframe and will clean up the data in this new dataframe. This is to ensure data is not skewed and can be compared after transformation.

### Data Quality
- Create new dataframe
 * Rename columns (change abbreviations to defined full words)
 * Change data types for columns
 * Handle null/NaN values
 
There is only 1 record missing a year (and a number of key variables). This record doesn't help the analysis and will be dropped.

Additionally, a number of the columns are either float or objects. After reviewing each column, the fields that are descriptive should be object instead of float.

In [26]:
# Create a new dataframe (deep copy) 
df = df_klanten.copy()
now = datetime.datetime.now()

def convert_datatypes(df):
    # Creatie datum
    # Geb. datum
    for index, date in enumerate(df['Geb. datum']):
        if (pd.notnull(date)):
            if (int(date[-4:]) > now.year):
                df.drop(df.index[index], inplace = True)
        #else:
            #print(str(date) + " " + str(index))
            #for data in df_deelnemers:
                
    #df['Geb. datum'] = pd.to_datetime(df['Geb. datum'])
    #df['Geb. datum'] = df['Geb. datum'].astype('datetime64[ns]')
convert_datatypes(df)
#df.describe()
#df
df.info()

nan 0
nan 1
nan 2
nan 3
nan 4
nan 5
nan 6
nan 7
nan 8
nan 9
nan 10
nan 11
nan 12
nan 13
nan 15
nan 16
nan 17
nan 18
nan 19
nan 20
nan 21
nan 22
nan 23
nan 24
nan 25
nan 26
nan 27
nan 28
nan 30
nan 31
nan 32
nan 33
nan 34
nan 35
nan 36
nan 37
nan 38
nan 39
nan 40
nan 41
nan 42
nan 43
nan 44
nan 46
nan 47
nan 48
nan 49
nan 50
nan 51
nan 52
nan 53
nan 54
nan 55
nan 56
nan 57
nan 58
nan 59
nan 60
nan 62
nan 63
nan 64
nan 65
nan 66
nan 67
nan 68
nan 69
nan 70
nan 71
nan 72
nan 73
nan 75
nan 76
nan 79
nan 80
nan 81
nan 82
nan 83
nan 85
nan 86
nan 87
nan 88
nan 89
nan 91
nan 93
nan 95
nan 96
nan 97
nan 98
nan 99
nan 100
nan 101
nan 102
nan 103
nan 104
nan 105
nan 106
nan 107
nan 108
nan 109
nan 110
nan 111
nan 114
nan 116
nan 117
nan 119
nan 121
nan 122
nan 123
nan 124
nan 126
nan 130
nan 132
nan 134
nan 135
nan 136
nan 137
nan 138
nan 139
nan 140
nan 141
nan 142
nan 146
nan 147
nan 148
nan 149
nan 150
nan 151
nan 152
nan 155
nan 158
nan 159
nan 160
nan 161
nan 165
nan 166
nan 168
nan 169
nan 170
nan 174
nan 176
nan 177
nan 179
nan 180
nan 181
nan 182
nan 184
nan 188
nan 191
nan 193
nan 194
nan 195
nan 197
nan 198
nan 200
nan 201
nan 202
nan 205
nan 206
nan 207
nan 209
nan 210
nan 211
nan 213
nan 214
nan 216
nan 217
nan 220
nan 221
nan 222
nan 225
nan 227
nan 231
nan 232
nan 233
nan 234
nan 235
nan 236
nan 237
nan 238
nan 240
nan 241
nan 242
nan 243
nan 246
nan 252
nan 256
nan 257
nan 258
nan 259
nan 260
nan 263
nan 264
nan 265
nan 266
nan 270
nan 272
nan 274
nan 275
nan 276
nan 278
nan 280
nan 282
nan 283
nan 284
nan 285
nan 286
nan 287
nan 289
nan 294
nan 297
nan 298
nan 299
nan 300
nan 301
nan 303
nan 304
nan 305
nan 307
nan 308
nan 309
nan 311
nan 312
nan 315
nan 318
nan 319
nan 321
nan 322
nan 323
nan 324
nan 325
nan 326
nan 327
nan 329
nan 330
nan 332
nan 333
nan 335
nan 336
nan 338
nan 340
nan 341
nan 345
nan 349
nan 354
nan 355
nan 358
nan 360
nan 362
nan 363
nan 365
nan 366
nan 370
nan 371
nan 373
nan 374
nan 375
nan 378
nan 379
nan 380
nan 383
nan 384
nan 385
nan 386
nan 387
nan 388
nan 390
nan 391
nan 392
nan 393
nan 394
nan 396
nan 398
nan 399
nan 400
nan 404
nan 405
nan 406
nan 408
nan 409
nan 410
nan 411
nan 412
nan 413
nan 414
nan 417
nan 419
nan 422
nan 423
nan 424
nan 425
nan 427
nan 428
nan 429
nan 430
nan 435
nan 437
nan 438
nan 439
nan 445
nan 447
nan 449
nan 451
nan 452
nan 453
nan 454
nan 455
nan 458
nan 459
nan 460
nan 461
nan 462
nan 465
nan 466
nan 470
nan 471
nan 472
nan 473
nan 475
nan 477
nan 479
nan 481
nan 483
nan 484
nan 486
nan 489
nan 490
nan 491
nan 492
nan 494
nan 495
nan 496
nan 497
nan 498
nan 499
nan 500
nan 501
nan 502
nan 503
nan 504
nan 505
nan 508
nan 511
nan 512
nan 513
nan 514
nan 520
nan 521
nan 522
nan 523
nan 525
nan 527
nan 528
nan 529
nan 530
nan 532
nan 534
nan 535
nan 536
nan 539
nan 540
nan 541
nan 543
nan 544
nan 545
nan 546
nan 548
nan 555
nan 557
nan 558
nan 559
nan 563
nan 564
nan 568
nan 569
nan 570
nan 571
nan 572
nan 573
nan 574
nan 577
nan 578
nan 579
nan 580
nan 582
nan 584
nan 586
nan 588
nan 589
nan 591
nan 593
nan 594
nan 595
nan 596
nan 598
nan 600
nan 601
nan 603
nan 605
nan 608
nan 609
nan 610
nan 611
nan 612
nan 613
nan 614
nan 616
nan 618
nan 619
nan 621
nan 623
nan 625
nan 626
nan 627
nan 630
nan 631
nan 632
nan 633
nan 637
nan 638
nan 640
nan 641
nan 642
nan 643
nan 646
nan 650
nan 651
nan 654
nan 658
nan 659
nan 661
nan 664
nan 665
nan 666
nan 668
nan 670
nan 674
nan 675
nan 676
nan 677
nan 679
nan 682
nan 683
nan 684
nan 687
nan 688
nan 689
nan 693
nan 698
nan 700
nan 703
nan 704
nan 705
nan 706
nan 707
nan 709
nan 712
nan 713
nan 714
nan 715
nan 716
nan 717
nan 719
nan 721
nan 722
nan 723
nan 724
nan 728
nan 729
nan 730
nan 731
nan 732
nan 733
nan 734
nan 735
nan 736
nan 737
nan 739
nan 740
nan 741
nan 743
nan 744
nan 746
nan 748
nan 750
nan 751
nan 753
nan 757
nan 758
nan 759
nan 760
nan 761
nan 762
nan 763
nan 764
nan 765
nan 768
nan 769
nan 772
nan 773
nan 774
nan 776
nan 777
nan 778
nan 779
nan 780
nan 781
nan 782
nan 784
nan 785
nan 786
nan 789
nan 793
nan 794
nan 795
nan 798
nan 800
nan 802
nan 804
nan 805
nan 806
nan 808
nan 809
nan 811
nan 812
nan 815
nan 817
nan 818
nan 821
nan 822
nan 823
nan 824
nan 825
nan 826
nan 827
nan 828
nan 829
nan 830
nan 832
nan 833
nan 836
nan 838
nan 840
nan 841
nan 842
nan 845
nan 846
nan 849
nan 853
nan 857
nan 858
nan 860
nan 863
nan 864
nan 866
nan 870
nan 871
nan 872
nan 877
nan 880
nan 881
nan 882
nan 883
nan 884
nan 885
nan 889
nan 890
nan 891
nan 892
nan 894
nan 895
nan 896
nan 897
nan 900
nan 901
nan 903
nan 904
nan 905
nan 906
nan 908
nan 909
nan 911
nan 915
nan 916
nan 917
nan 923
nan 924
nan 925
nan 927
nan 929
nan 930
nan 932
nan 933
nan 934
nan 935
nan 941
nan 942
nan 943
nan 946
nan 948
nan 949
nan 951
nan 953
nan 954
nan 955
nan 956
nan 957
nan 958
nan 959
nan 960
nan 961
nan 963
nan 964
nan 965
nan 966
nan 967
nan 970
nan 974
nan 975
nan 976
nan 977
nan 979
nan 980
nan 982
nan 983
nan 989
nan 990
nan 991
nan 992
nan 993
nan 994
nan 996
nan 997
nan 998
nan 999
nan 1001
nan 1002
nan 1004
nan 1005
nan 1006
nan 1007
nan 1009
nan 1010
nan 1011
nan 1017
nan 1020
nan 1024
nan 1025
nan 1026
nan 1027
nan 1028
nan 1030
nan 1031
nan 1032
nan 1033
nan 1036
nan 1037
nan 1040
nan 1041
nan 1042
nan 1043
nan 1047
nan 1048
nan 1049
nan 1052
nan 1055
nan 1056
nan 1057
nan 1061
nan 1065
nan 1066
nan 1067
nan 1068
nan 1069
nan 1070
nan 1072
nan 1073
nan 1074
nan 1075
nan 1079
nan 1080
nan 1081
nan 1082
nan 1083
nan 1084
nan 1086
nan 1088
nan 1089
nan 1090
nan 1093
nan 1094
nan 1095
nan 1096
nan 1097
nan 1098
nan 1099
nan 1100
nan 1101
nan 1102
nan 1111
nan 1112
nan 1113
nan 1114
nan 1116
nan 1118
nan 1119
nan 1121
nan 1122
nan 1123
nan 1124
nan 1125
nan 1126
nan 1127
nan 1128
nan 1129
nan 1130
nan 1131
nan 1134
nan 1135
nan 1136
nan 1137
nan 1138
nan 1139
nan 1140
nan 1142
nan 1146
nan 1147
nan 1149
nan 1153
nan 1155
nan 1159
nan 1161
nan 1162
nan 1163
nan 1164
nan 1166
nan 1167
nan 1168
nan 1169
nan 1173
nan 1175
nan 1177
nan 1178
nan 1182
nan 1183
nan 1185
nan 1186
nan 1187
nan 1188
nan 1189
nan 1190
nan 1191
nan 1192
nan 1195
nan 1196
nan 1198
nan 1203
nan 1206
nan 1207
nan 1208
nan 1212
nan 1214
nan 1215
nan 1216
nan 1217
nan 1219
nan 1220
nan 1221
nan 1222
nan 1223
nan 1225
nan 1226
nan 1229
nan 1230
nan 1233
nan 1234
nan 1235
nan 1237
nan 1238
nan 1239
nan 1243
nan 1245
nan 1247
nan 1248
nan 1249
nan 1250
nan 1251
nan 1252
nan 1253
nan 1254
nan 1263
nan 1264
nan 1265
nan 1266
nan 1267
nan 1269
nan 1274
nan 1275
nan 1276
nan 1278
nan 1279
nan 1281
nan 1289
nan 1290
nan 1292
nan 1293
nan 1294
nan 1295
nan 1296
nan 1297
nan 1298
nan 1299
nan 1300
nan 1301
nan 1302
nan 1303
nan 1305
nan 1306
nan 1308
nan 1311
nan 1315
nan 1316
nan 1317
nan 1318
nan 1319
nan 1320
nan 1322
nan 1323
nan 1324
nan 1327
nan 1328
nan 1330
nan 1332
nan 1333
nan 1334
nan 1336
nan 1337
nan 1339
nan 1342
nan 1343
nan 1345
nan 1346
nan 1347
nan 1348
nan 1349
nan 1350
nan 1351
nan 1353
nan 1356
nan 1357
nan 1358
nan 1359
nan 1361
nan 1364
nan 1365
nan 1368
nan 1370
nan 1371
nan 1372
nan 1373
nan 1375
nan 1377
nan 1378
nan 1380
nan 1382
nan 1384
nan 1385
nan 1386
nan 1387
nan 1390
nan 1391
nan 1392
nan 1393
nan 1394
nan 1395
nan 1397
nan 1398
nan 1399
nan 1400
nan 1401
nan 1403
nan 1404
nan 1405
nan 1406
nan 1409
nan 1411
nan 1412
nan 1415
nan 1419
nan 1420
nan 1422
nan 1425
nan 1427
nan 1429
nan 1432
nan 1433
nan 1434
nan 1435
nan 1438
nan 1441
nan 1442
nan 1444
nan 1445
nan 1446
nan 1447
nan 1448
nan 1452
nan 1453
nan 1454
nan 1455
nan 1456
nan 1458
nan 1459
nan 1460
nan 1461
nan 1463
nan 1464
nan 1465
nan 1466
nan 1468
nan 1469
nan 1470
nan 1471
nan 1475
nan 1476
nan 1478
nan 1479
nan 1480
nan 1482
nan 1484
nan 1485
nan 1487
nan 1489
nan 1491
nan 1492
nan 1493
nan 1494
nan 1495
nan 1496
nan 1497
nan 1498
nan 1499
nan 1500
nan 1501
nan 1505
nan 1508
nan 1509
nan 1511
nan 1516
nan 1517
nan 1520
nan 1522
nan 1523
nan 1526
nan 1529
nan 1530
nan 1531
nan 1532
nan 1533
nan 1535
nan 1538
nan 1540
nan 1541
nan 1542
nan 1543
nan 1544
nan 1545
nan 1546
nan 1547
nan 1548
nan 1549
nan 1552
nan 1553
nan 1554
nan 1556
nan 1557
nan 1559
nan 1560
nan 1561
nan 1562
nan 1563
nan 1565
nan 1566
nan 1567
nan 1569
nan 1570
nan 1572
nan 1573
nan 1574
nan 1575
nan 1576
nan 1577
nan 1581
nan 1582
nan 1583
nan 1584
nan 1587
nan 1588
nan 1589
nan 1590
nan 1592
nan 1593
nan 1594
nan 1595
nan 1596
nan 1597
nan 1599
nan 1603
nan 1604
nan 1606
nan 1607
nan 1609
nan 1610
nan 1612
nan 1613
nan 1614
nan 1615
nan 1617
nan 1618
nan 1620
nan 1621
nan 1622
nan 1623
nan 1624
nan 1626
nan 1627
nan 1630
nan 1631
nan 1632
nan 1633
nan 1635
nan 1637
nan 1638
nan 1639
nan 1640
nan 1643
nan 1646
nan 1648
nan 1650
nan 1651
nan 1657
nan 1660
nan 1661
nan 1662
nan 1663
nan 1665
nan 1670
nan 1671
nan 1673
nan 1675
nan 1676
nan 1678
nan 1682
nan 1684
nan 1685
nan 1686
nan 1687
nan 1690
nan 1692
nan 1693
nan 1694
nan 1696
nan 1698
nan 1699
nan 1700
nan 1701
nan 1702
nan 1703
nan 1704
nan 1705
nan 1706
nan 1707
nan 1708
nan 1709
nan 1711
nan 1712
nan 1714
nan 1715
nan 1716
nan 1718
nan 1720
nan 1721
nan 1724
nan 1725
nan 1726
nan 1727
nan 1728
nan 1729
nan 1733
nan 1737
nan 1739
nan 1740
nan 1742
nan 1744
nan 1745
nan 1746
nan 1747
nan 1748
nan 1750
nan 1753
nan 1756
nan 1757
nan 1758
nan 1762
nan 1763
nan 1765
nan 1767
nan 1768
nan 1769
nan 1770
nan 1771
nan 1772
nan 1773
nan 1774
nan 1775
nan 1776
nan 1777
nan 1778
nan 1782
nan 1783
nan 1785
nan 1790
nan 1791
nan 1792
nan 1793
nan 1794
nan 1795
nan 1798
nan 1800
nan 1801
nan 1803
nan 1804
nan 1806
nan 1808
nan 1811
nan 1812
nan 1814
nan 1815
nan 1816
nan 1817
nan 1821
nan 1822
nan 1823
nan 1824
nan 1825
nan 1826
nan 1828
nan 1829
nan 1831
nan 1834
nan 1835
nan 1836
nan 1837
nan 1838
nan 1839
nan 1840
nan 1841
nan 1842
nan 1843
nan 1846
nan 1847
nan 1849
nan 1850
nan 1851
nan 1852
nan 1853
nan 1854
nan 1855
nan 1856
nan 1857
nan 1858
nan 1859
nan 1860
nan 1861
nan 1862
nan 1863
nan 1865
nan 1867
nan 1868
nan 1869
nan 1870
nan 1872
nan 1876
nan 1877
nan 1880
nan 1881
nan 1885
nan 1890
nan 1892
nan 1893
nan 1894
nan 1895
nan 1896
nan 1898
nan 1900
nan 1901
nan 1905
nan 1906
nan 1907
nan 1908
nan 1909
nan 1910
nan 1912
nan 1913
nan 1916
nan 1918
nan 1919
nan 1920
nan 1921
nan 1923
nan 1924
nan 1927
nan 1928
nan 1929
nan 1930
nan 1931
nan 1936
nan 1937
nan 1943
nan 1944
nan 1945
nan 1946
nan 1947
nan 1948
nan 1949
nan 1950
nan 1951
nan 1956
nan 1957
nan 1959
nan 1960
nan 1963
nan 1964
nan 1966
nan 1967
nan 1968
nan 1971
nan 1972
nan 1973
nan 1974
nan 1975
nan 1977
nan 1979
nan 1980
nan 1981
nan 1984
nan 1985
nan 1986
nan 1988
nan 1989
nan 1991
nan 1992
nan 1994
nan 1995
nan 1998
nan 1999
nan 2000
nan 2001
nan 2002
nan 2003
nan 2004
nan 2005
nan 2007
nan 2008
nan 2009
nan 2013
nan 2014
nan 2016
nan 2017
nan 2019
nan 2021
nan 2022
nan 2023
nan 2024
nan 2026
nan 2027
nan 2029
nan 2031
nan 2032
nan 2034
nan 2035
nan 2036
nan 2038
nan 2040
nan 2041
nan 2042
nan 2044
nan 2047
nan 2048
nan 2050
nan 2052
nan 2053
nan 2054
nan 2055
nan 2057
nan 2058
nan 2061
nan 2062
nan 2063
nan 2066
nan 2068
nan 2069
nan 2072
nan 2075
nan 2076
nan 2077
nan 2079
nan 2080
nan 2081
nan 2082
nan 2083
nan 2084
nan 2085
nan 2086
nan 2087
nan 2088
nan 2089
nan 2090
nan 2091
nan 2092
nan 2093
nan 2094
nan 2095
nan 2096
nan 2099
nan 2101
nan 2103
nan 2106
nan 2107
nan 2111
nan 2112
nan 2113
nan 2116
nan 2117
nan 2121
nan 2125
nan 2126
nan 2127
nan 2128
nan 2137
nan 2138
nan 2141
nan 2143
nan 2144
nan 2146
nan 2148
nan 2149
nan 2150
nan 2151
nan 2152
nan 2153
nan 2154
nan 2155
nan 2156
nan 2160
nan 2161
nan 2162
nan 2164
nan 2165
nan 2166
nan 2169
nan 2173
nan 2174
nan 2176
nan 2177
nan 2181
nan 2182
nan 2183
nan 2184
nan 2188
nan 2189
nan 2191
nan 2192
nan 2195
nan 2197
nan 2198
nan 2199
nan 2200
nan 2204
nan 2205
nan 2207
nan 2210
nan 2211
nan 2213
nan 2214
nan 2215
nan 2218
nan 2221
nan 2223
nan 2224
nan 2225
nan 2227
nan 2229
nan 2233
nan 2234
nan 2236
nan 2239
nan 2240
nan 2241
nan 2248
nan 2250
nan 2251
nan 2253
nan 2254
nan 2256
nan 2258
nan 2259
nan 2261
nan 2262
nan 2264
nan 2268
nan 2271
nan 2273
nan 2276
nan 2277
nan 2280
nan 2281
nan 2282
nan 2284
nan 2285
nan 2287
nan 2290
nan 2291
nan 2292
nan 2293
nan 2295
nan 2296
nan 2298
nan 2303
nan 2304
nan 2306
nan 2309
nan 2310
nan 2311
nan 2315
nan 2316
nan 2317
nan 2319
nan 2320
nan 2321
nan 2322
nan 2324
nan 2326
nan 2331
nan 2333
nan 2338
nan 2340
nan 2341
nan 2342
nan 2343
nan 2344
nan 2345
nan 2348
nan 2349
nan 2354
nan 2356
nan 2357
nan 2363
nan 2367
nan 2369
nan 2371
nan 2372
nan 2374
nan 2375
nan 2376
nan 2377
nan 2378
nan 2381
nan 2382
nan 2383
nan 2386
nan 2389
nan 2391
nan 2392
nan 2397
nan 2400
nan 2403
nan 2405
nan 2407
nan 2408
nan 2410
nan 2411
nan 2412
nan 2414
nan 2415
nan 2417
nan 2418
nan 2420
nan 2423
nan 2424
nan 2428
nan 2430
nan 2432
nan 2437
nan 2439
nan 2443
nan 2444
nan 2445
nan 2446
nan 2448
nan 2449
nan 2451
nan 2452
nan 2453
nan 2454
nan 2457
nan 2458
nan 2461
nan 2462
nan 2463
nan 2464
nan 2465
nan 2467
nan 2468
nan 2469
nan 2471
nan 2472
nan 2473
nan 2474
nan 2479
nan 2480
nan 2481
nan 2482
nan 2485
nan 2486
nan 2487
nan 2488
nan 2489
nan 2490
nan 2492
nan 2493
nan 2495
nan 2496
nan 2498
nan 2499
nan 2501
nan 2504
nan 2506
nan 2507
nan 2509
nan 2510
nan 2513
nan 2514
nan 2515
nan 2517
nan 2518
nan 2519
nan 2521
nan 2527
nan 2534
nan 2535
nan 2538
nan 2540
nan 2541
nan 2544
nan 2547
nan 2548
nan 2549
nan 2550
nan 2551
nan 2554
nan 2555
nan 2556
nan 2557
nan 2560
nan 2566
nan 2569
nan 2570
nan 2571
nan 2573
nan 2576
nan 2577
nan 2580
nan 2581
nan 2583
nan 2587
nan 2588
nan 2589
nan 2590
nan 2591
nan 2596
nan 2597
nan 2598
nan 2599
nan 2601
nan 2602
nan 2607
nan 2608
nan 2609
nan 2613
nan 2614
nan 2617
nan 2618
nan 2619
nan 2625
nan 2626
nan 2627
nan 2628
nan 2629
nan 2630
nan 2631
nan 2633
nan 2634
nan 2635
nan 2637
nan 2638
nan 2639
nan 2641
nan 2643
nan 2644
nan 2645
nan 2646

nan 2647
nan 2648
nan 2649
nan 2651
nan 2652
nan 2654
nan 2656
nan 2657
nan 2658
nan 2660
nan 2661
nan 2662
nan 2664
nan 2665
nan 2666
nan 2667
nan 2668
nan 2669
nan 2671
nan 2672
nan 2673
nan 2674
nan 2675
nan 2677
nan 2678
nan 2679
nan 2682
nan 2683
nan 2684
nan 2687
nan 2690
nan 2691
nan 2692
nan 2693
nan 2696
nan 2697
nan 2698
nan 2701
nan 2702
nan 2703
nan 2704
nan 2705
nan 2706
nan 2707
nan 2708
nan 2710
nan 2711
nan 2712
nan 2713
nan 2717
nan 2718
nan 2719
nan 2720
nan 2721
nan 2723
nan 2724
nan 2725
nan 2726
nan 2728
nan 2729
nan 2731
nan 2732
nan 2733
nan 2734
nan 2735
nan 2736
nan 2737
nan 2738
nan 2741
nan 2743
nan 2744
nan 2745
nan 2746
nan 2750
nan 2751
nan 2752
nan 2753
nan 2754
nan 2755
nan 2756
nan 2758
nan 2759
nan 2760
nan 2761
nan 2762
nan 2764
nan 2766
nan 2767
nan 2768
nan 2770
nan 2771
nan 2772
nan 2774
nan 2775
nan 2776
nan 2778
nan 2779
nan 2780
nan 2783
nan 2785
nan 2786
nan 2787
nan 2788
nan 2790
nan 2791
nan 2793
nan 2795
nan 2796
nan 2797
nan 2799
nan 2800
nan 2801
nan 2802
nan 2803
nan 2804
nan 2805
nan 2806
nan 2807
nan 2808
nan 2809
nan 2810
nan 2811
nan 2812
nan 2813
nan 2815
nan 2816
nan 2819
nan 2822
nan 2825
nan 2826
nan 2828
nan 2830
nan 2832
nan 2833
nan 2835
nan 2836
nan 2837
nan 2839
nan 2840
nan 2842
nan 2843
nan 2844
nan 2845
nan 2846
nan 2847
nan 2848
nan 2850
nan 2851
nan 2852
nan 2855
nan 2858
nan 2859
nan 2860
nan 2861
nan 2863
nan 2865
nan 2866
nan 2869
nan 2870
nan 2871
nan 2873
nan 2881
nan 2882
nan 2883
nan 2887
nan 2888
nan 2889
nan 2894
nan 2895
nan 2897
nan 2899
nan 2900
nan 2902
nan 2905
nan 2909
nan 2910
nan 2911
nan 2912
nan 2913
nan 2915
nan 2916
nan 2918
nan 2919
nan 2920
nan 2922
nan 2924
nan 2925
nan 2926
nan 2927
nan 2928
nan 2929
nan 2930
nan 2932
nan 2933
nan 2934
nan 2935
nan 2936
nan 2937
nan 2938
nan 2939
nan 2943
nan 2944
nan 2945
nan 2946
nan 2948
nan 2949
nan 2951
nan 2952
nan 2953
nan 2955
nan 2957
nan 2959
nan 2960
nan 2961
nan 2962
nan 2964
nan 2966
nan 2967
nan 2968
nan 2971
nan 2973
nan 2974
nan 2975
nan 2976
nan 2980
nan 2984
nan 2986
nan 2987
nan 2990
nan 2991
nan 2992
nan 2994
nan 2996
nan 3000
nan 3001
nan 3002
nan 3003
nan 3004
nan 3005
nan 3006
nan 3008
nan 3009
nan 3010
nan 3014
nan 3016
nan 3017
nan 3020
nan 3022
nan 3025
nan 3026
nan 3027
nan 3031
nan 3032
nan 3037
nan 3038
nan 3039
nan 3040
nan 3042
nan 3043
nan 3044
nan 3046
nan 3048
nan 3049
nan 3050
nan 3051
nan 3056
nan 3058
nan 3061
nan 3063
nan 3064
nan 3065
nan 3066
nan 3068
nan 3069
nan 3070
nan 3071
nan 3072
nan 3073
nan 3075
nan 3076
nan 3078
nan 3080
nan 3083
nan 3084
nan 3085
nan 3086
nan 3087
nan 3091
nan 3092
nan 3093
nan 3094
nan 3095
nan 3097
nan 3098
nan 3099
nan 3101
nan 3103
nan 3105
nan 3107
nan 3108
nan 3109
nan 3114
nan 3115
nan 3119
nan 3120
nan 3121
nan 3122
nan 3123
nan 3124
nan 3126
nan 3128
nan 3129
nan 3130
nan 3131
nan 3132
nan 3134
nan 3136
nan 3138
nan 3140
nan 3142
nan 3145
nan 3146
nan 3149
nan 3150
nan 3151
nan 3153
nan 3154
nan 3155
nan 3156
nan 3157
nan 3160
nan 3162
nan 3163
nan 3164
nan 3165
nan 3166
nan 3167
nan 3170
nan 3171
nan 3173
nan 3174
nan 3175
nan 3176
nan 3179
nan 3180
nan 3181
nan 3182
nan 3187
nan 3188
nan 3191
nan 3192
nan 3193
nan 3194
nan 3195
nan 3197
nan 3198
nan 3200
nan 3201
nan 3203
nan 3205
nan 3208
nan 3209
nan 3210
nan 3213
nan 3214
nan 3215
nan 3216
nan 3218
nan 3220
nan 3223
nan 3224
nan 3226
nan 3228
nan 3229
nan 3230
nan 3231
nan 3232
nan 3236
nan 3237
nan 3243
nan 3244
nan 3246
nan 3248
nan 3249
nan 3250
nan 3252
nan 3253
nan 3254
nan 3256
nan 3257
nan 3258
nan 3261
nan 3262
nan 3263
nan 3264
nan 3265
nan 3267
nan 3268
nan 3269
nan 3270
nan 3271
nan 3272
nan 3274
nan 3275
nan 3276
nan 3277
nan 3278
nan 3279
nan 3280
nan 3281
nan 3283
nan 3284
nan 3286
nan 3288
nan 3289
nan 3290
nan 3292
nan 3296
nan 3297
nan 3298
nan 3301
nan 3303
nan 3304
nan 3305
nan 3306
nan 3307
nan 3308
nan 3309
nan 3311
nan 3312
nan 3313
nan 3314
nan 3315
nan 3317
nan 3318
nan 3319
nan 3320
nan 3321
nan 3322
nan 3323
nan 3325
nan 3326
nan 3328
nan 3330
nan 3331
nan 3332
nan 3333
nan 3334
nan 3335
nan 3336
nan 3337
nan 3339
nan 3340
nan 3344
nan 3347
nan 3348
nan 3349
nan 3351
nan 3352
nan 3357
nan 3359
nan 3360
nan 3361
nan 3363
nan 3365
nan 3366
nan 3368
nan 3369
nan 3370
nan 3372
nan 3373
nan 3378
nan 3380
nan 3381
nan 3382
nan 3383
nan 3387
nan 3388
nan 3389
nan 3390
nan 3393
nan 3394
nan 3396
nan 3398
nan 3399
nan 3401
nan 3403
nan 3404
nan 3408
nan 3410
nan 3413
nan 3414
nan 3415
nan 3416
nan 3417
nan 3418
nan 3421
nan 3422
nan 3423
nan 3426
nan 3427
nan 3428
nan 3431
nan 3433
nan 3434
nan 3435
nan 3436
nan 3438
nan 3441
nan 3442
nan 3443
nan 3444
nan 3445
nan 3447
nan 3448
nan 3450
nan 3451
nan 3452
nan 3453
nan 3454
nan 3456
nan 3458
nan 3459
nan 3460
nan 3461
nan 3462
nan 3463
nan 3464
nan 3465
nan 3466
nan 3467
nan 3468
nan 3469
nan 3470
nan 3471
nan 3474
nan 3475
nan 3476
nan 3477
nan 3478
nan 3480
nan 3481
nan 3482
nan 3483
nan 3484
nan 3485
nan 3486
nan 3488
nan 3489
nan 3490
nan 3491
nan 3492
nan 3494
nan 3495
nan 3496
nan 3497
nan 3498
nan 3499
nan 3500
nan 3501
nan 3502
nan 3503
nan 3504
nan 3505
nan 3507
nan 3508
nan 3509
nan 3510
nan 3511
nan 3512
nan 3514
nan 3515
nan 3516
nan 3517
nan 3518
nan 3519
nan 3520
nan 3521
nan 3522
nan 3523
nan 3524
nan 3525
nan 3526
nan 3527
nan 3529
nan 3530
nan 3531
nan 3532
nan 3533
nan 3534
nan 3535
nan 3536
nan 3537
nan 3538
nan 3539
nan 3540
nan 3541
nan 3543
nan 3545
nan 3546
nan 3548
nan 3550
nan 3551
nan 3552
nan 3553
nan 3554
nan 3555
nan 3557
nan 3558
nan 3559
nan 3560
nan 3561
nan 3562
nan 3563
nan 3564
nan 3565
nan 3566
nan 3567
nan 3568
nan 3570
nan 3571
nan 3572
nan 3573
nan 3574
nan 3576
nan 3577
nan 3578
nan 3579
nan 3580
nan 3581
nan 3582
nan 3583
nan 3584
nan 3585
nan 3586
nan 3587
nan 3588
nan 3589
nan 3590
nan 3591
nan 3592
nan 3593
nan 3594
nan 3595
nan 3597
nan 3598
nan 3599
nan 3600
nan 3602
nan 3603
nan 3604
nan 3606
nan 3607
nan 3608
nan 3609
nan 3610
nan 3611
nan 3614
nan 3615
nan 3616
nan 3617
nan 3618
nan 3619
nan 3620
nan 3621
nan 3622
nan 3623
nan 3624
nan 3625
nan 3626
nan 3627
nan 3628
nan 3629
nan 3631
nan 3632
nan 3634
nan 3635
nan 3636
nan 3637
nan 3638
nan 3640
nan 3641
nan 3642
nan 3643
nan 3644
nan 3646
nan 3647
nan 3648
nan 3649
nan 3650
nan 3651
nan 3652
nan 3653
nan 3654
nan 3656
nan 3657
nan 3658
nan 3659
nan 3660
nan 3663
nan 3664
nan 3665
nan 3666
nan 3670
nan 3671
nan 3672
nan 3673
nan 3674
nan 3675
nan 3676
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3672 entries, 0 to 3676
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Familienaam      3667 non-null   object
 1   Voornaam         3607 non-null   object
 2   Straat + nr.     3640 non-null   object
 3   Telefoon         2340 non-null   object
 4   Klantnummer      3672 non-null   object
 5   Klantnummer CMS  2019 non-null   object
 6   Email            3632 non-null   object
 7   Creatie datum    2200 non-null   object
 8   Geb. datum       1352 non-null   object
 9   Locatie          3641 non-null   object
 10  Postcode         3635 non-null   object
 11  Land             3670 non-null   object
dtypes: object(12)
memory usage: 372.9+ KB

In [8]:

# De volgende is het samenvoegen van alle dataframes tot 1 goed dataframe

#1 - verwijder de kolommen die niet nuttig zijn
def remove_columns(df):
    df = df.drop(columns=['Straat + nr.', 'Locatie', 'Telefoon', 'Email', 'Voornaam'], inplace=True)
    
def convert_land(df):
    namen_belgie = ['belgium', 'belgië', 'belgïe', 'west-vlaanderen', 'b', 'belgie', 'belg', 'begie', 'ybelgie', 'be', 'oost-vlaanderen - belgium', 'oost-vlaanderen', 'belgiê', 'beglië']
    namen_nederland = ['nederand', 'nl', 'nederlands', 'ned', 'nerdland', 'holland', 'netherland', 'groningen', 'noord holland', 'noord-brabant', 'hengelo ov', 'nederland', 'nederlandse', 'the netherlands', 'pays bas (holland)', 'nerderland', 'nld', 'ndl', 'ned.', 'utrecht', 'noor holland', 'noord-holland', 'netherlands', 'zuid-holland', 'nederkand', 'nedeland']
    namen_frankrijk = ['france', 'frankrijk']
    namen_duitsland = ['duitsland', 'germany']
    namen_verenigd_koninkrijk = ['groot-brittanie ', 'united kingdom']
    namen_verwijderen = ['27', 'NaN', 'df', 'z', 'nan', 'Kies...', 'jelle', '- -', '-', 'test', '0633799726', 'Selecteer een staat', 'Selecteer een gebied, staat of provincie a.u.b.']

    #dit stuk moet korter
    df.drop(df.index[df['Land'] == 'NaN'], inplace = True)
    df.drop(df.index[df['Land'].isnull()], inplace = True)
    df.drop(df.index[df['Land'] == 'df'], inplace = True)
    df.drop(df.index[df['Land'] == '27'], inplace = True)
    df.drop(df.index[df['Land'] == 'z'], inplace = True)
    df.drop(df.index[df['Land'] == 'Kies...'], inplace = True)
    df.drop(df.index[df['Land'] == 'jelle'], inplace = True)
    df.drop(df.index[df['Land'] == '- -'], inplace = True)
    df.drop(df.index[df['Land'] == '-'], inplace = True)
    df.drop(df.index[df['Land'] == 'test'], inplace = True)
    df.drop(df.index[df['Land'] == '0633799726'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een staat'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een gebied, staat of provincie a.u.b.'], inplace = True)
    
    for index, land in enumerate(df['Land']):    
        #if str(land) in namen_verwijderen:
        #    print(index)
            
        if (str(land).lower()) in namen_belgie:
            df['Land'].iloc[index] = 'BE'
        if (str(land).lower()) in namen_nederland:
            df['Land'].iloc[index] = 'NL'
        if (str(land).lower()) in namen_frankrijk:
            df['Land'].iloc[index] = 'FR'
        if (str(land).lower()) in namen_duitsland:
            df['Land'].iloc[index] = 'DE'
        if (str(land).lower()) in namen_verenigd_koninkrijk:
            df['Land'].iloc[index] = 'GB'
        if (str(land).lower()) == 'luxemburg':
            df['Land'].iloc[index] = 'LUX'
        if (str(land).lower()) == 'scotland':
            df['Land'].iloc[index] = 'SCO'
        if (str(land).lower()) == 'portugal':
            df['Land'].iloc[index] = 'PT'
        if (str(land).lower()) == 'suriname':
            df['Land'].iloc[index] = 'SR'
        if (str(land).lower()) == 'hong kong':
            df['Land'].iloc[index] = 'CN'
        if (str(land).lower()) == 'oostenrijk':
            df['Land'].iloc[index] = 'AUT'
        if (str(land).lower()) == 'canada':
            df['Land'].iloc[index] = 'CA'
        if (str(land).lower()) == 'italy':
            df['Land'].iloc[index] = 'IT'
        if (str(land).lower()) == 'spanje':
            df['Land'].iloc[index] = 'ES'
        if (str(land).lower()) == 'chile':
            df['Land'].iloc[index] = 'CL'

remove_columns(df)
convert_land(df)

print("All unique values in the : " + str(df.Land.unique()))
print("Aantal rijen en kolommen: " + str(df.shape))
#df.describe()

All unique values in the : ['BE' 'NL' 'IT' 'FR' 'CA' 'DE' 'GB' 'CN' 'SCO' 'AUT' 'LUX' 'CL' 'SR' 'ES'
 'PT']
Aantal rijen en kolommen: (3664, 7)

In [203]:
df.sample(10)

# - verwijder Straat + nr. kolom
# Verander de kolom namen
# wijzig het type voor de 'Creatie datum' en 'Geb. datum' kolommen
# gebruik klantnummer als index voor het dataframe
# gebruik het Klantnummer voor de NaN waarden in Klantnummer CMS
# verwijder de initialen (bv: JL of BS) en spaties uit de Postcode kolom
# Zet de Land kolom om naar 1 land (Be, BE, Belgium,..) = België
# vervang NaN in Geboortedatum met de geboortedatum uit de deelnemers lijst waar de familienaam en voornaam overeenkomen

,Familienaam,Klantnummer,Klantnummer CMS,Creatie datum,Geb. datum,Locatie,Postcode,Land
586,ad9578a6b38a3ebd,3b9d21ae7ab3d292,3b0dc7f6e05de6e8,07.07.2018,NaN,Meerdonk,9170,BE
1166,3541b91650fc02ab,a024f61ec32e1458,26610e45e8686877,10.02.2016,NaN,Stevensweert,6107 BR,NL
106,7fc6367163b130f9,b701d64d7954c93a,NaN,23.04.2012,NaN,MORTSEL,2640,BE
1362,ff93401332086906,c2cc87a5ec84f9ff,NaN,19.09.2012,24.01.1979,Ijsselstein,3402 HW,NL
241,c9f6135e5fd2e6d4,42308a5ff2a3179d,280a1f017a216693,NaN,NaN,ZAANDAM,1506EZ,NL
2093,9ad16c2c9feb21a1,3514353a51d2d084,24b858a652c30d7c,NaN,NaN,Zeist,3703CL,NL
626,61b7dcae0b78d671,d33b0f6005716650,NaN,29.07.2013,NaN,KALMTHOUT,2920,BE
102,177acaf8722fc304,ad50f967a65bae29,2328cf75a7ca432d,NaN,NaN,Zuidwolde (Dr),7921 RR,NL
208,eabd07a39ee07ef4,2fe6a3b6013eb620,83e11d1393e6a30c,20.11.2017,24.03.1960,Hever,3191,BE
3151,80a5d7318c758358,b2b7f3361f87d558,32842bfd33430713,29.06.2017,NaN,Antwerpen,2018,BE

In [65]:
#df_klanten.shape

In [73]:
df_artikels.sample(10)

# verwijder ArticlePoNummer kolom
# zet Boekingsdatum en Vertrekdatum om naar juiste type datetime
# vervang Volledige naam klant door klantennummer uit klantenlijst door te zoeken met dossier nummer
# vervang DossierStatus 'Ok' met 1 of 0
# zet Artikelprijs en Totaal dossier om naar float
# maak dataframe (labels) met alle bestemmingen

,Dos. nr.,DossierStatus,Boekingsdatum,Vertrekdatum,Volledige naam klant,Bestemming,ArticlePoNummer,Artikelcode,Omschrijving,Artikelprijs,Totaal dossier
5301,798,Ok,22.02.2013 15:42:51,16.08.2013 00:00:00,aae803853ec93772,Moliets Frankrijk,NaN,9a54ba5423ffedcc,Poliskosten,"5,00","765,80"
7644,1884,Ok,17.05.2015 00:00:00,12.06.2015 00:00:00,098c046cb4c67620,Paardrijden op het strand in Zeeland,NaN,078cd33aaf1e5a44,"Weekend paardrijden 6 uur, logies en ontbijt","304,00","304,00"
584,2349,Ok,31.03.2016 00:00:00,17.04.2016 00:00:00,fdacb10b9cf9ceee,Paardrijden Costa de la Luz Spanje,NaN,f5c7887dc66050c7,Paardrijweek Costa de la Luz,"1.213,00","1.585,98"
10968,3424,Ok,16.01.2018 14:54:19,20.05.2018 00:00:00,b872dcaacce3a45c,Spanje,NaN,93c15333678b24c9,Trektocht in het land vd Conquistadores,"1.270,00","1.668,00"
3085,25,Ok,11.05.2011 13:56:58,02.09.2011 00:00:00,4d24b299b4e0ad61,Belgie Ardennen,NaN,79bb614e98f11d65,Paardrijweekend IJslanders Ardennen,"620,00","620,00"
11690,3854,Ok,05.07.2018 00:00:00,23.09.2018 00:00:00,705eb453d9a81028,Verenigde Staten,NaN,42917583a69cb7b1,Verzameltransfer retour USD 100 p.p. retour,"180,00","3.674,94"
5297,798,Ok,22.02.2013 15:42:51,16.08.2013 00:00:00,aae803853ec93772,Moliets Frankrijk,NaN,a91b026743fc98d0,Calamiteitenfonds,"2,50","765,80"
11240,3599,Ok,23.03.2018 14:12:58,28.04.2018 00:00:00,51f5a06a00e2e350,"Portugal, Azoren",NaN,e5bc97b89249e6aa,Groene Week Azoren,"2.830,00","2.716,73"
13442,20200317,Ok,08.10.2020 15:13:46,04.06.2021 00:00:00,38e71ba275d03185,Nederland,NaN,524a48e77f42796f,Paardrijden op Nederlands en Duits grondgebied,"0,00","355,00"
5008,679,Ok,27.11.2012 10:35:45,05.05.2013 00:00:00,aa7ff2720e52d244,Madrid Spanje,NaN,NaN,Lijnvlucht inclusief 20 kg bagage,"1.530,00","1.695,00"

In [12]:
#df_artikels.shape

In [60]:
#df_bestellingen.iloc[3308]
df_bestellingen.sample(20)

# Dos.jaar = 2021.0 - moet date worden en niet float zijn
# kolomnaam D.vertrek en Datum terug hernoemen
# status -1 en 0 omzetten naar 1 of 0
# verwijder laatste rij - is het totaal van alles opgeteld
# verwijder de regio kolom (veel NaN)
# verwijder de gefactureerd kolom of zet om naar 1 of 0 - type int64
# verwijder de Pakket Code kolom
# verwijder Status kolom
# verwijder Touroperator kolom (Waarschijnlijk niet relevant)
# Zet 'Datum creatie', 'D. vertrek' en 'Datum terug' om naar datetime type
# Zet bestemming en 'Land klant' om naar 1 land (Be, BE, Belgium,..) = België
# zet Totaalprijs en Openstaand dossier om naar het type int64
# verwijder # pass. kolom
# verwijder Openstaand dossier kolom
# verwijder Betalingen dossier kolom
# 

# status: 0 = bevestigd -1 = geannuleerd

,Status,Dos. jaar,Dos. nr.,Email,Klantnummer,Klantnummer CMS,Datum creatie,D. vertrek,Datum terug,Totaalprijs,Betalingen dossier,Openstaand dossier,Touroperator,Land klant,Bestemming,Regio,Reistype,# pass.,Pakket Code,Gefactureerd
2663,0.0,2017.0,3246,c1d7fd937902ad98,db828f76f9027aee,9f684406078356ab,04.09.2017 00:00:00,30.09.2017,07.10.2017,890,890,0,f5ecb98c8c5d97ac,nl,De Balkan trail,NaN,NaN,1.0,NaN,True
131,0.0,2011.0,168,6851669992a96ba9,9176c08d72c1f0bc,NaN,19.08.2011 15:37:21,27.08.2011,03.09.2011,1180,1180,0,f5ecb98c8c5d97ac,Nederland,Bulgarije,NaN,NaN,1.0,NaN,True
3907,0.0,2020.0,20200212,3301e21c4eb1f6b0,afcb339ed6632716,NaN,24.06.2020 22:10:10,10.07.2020,12.07.2020,510,510,0,3124a9d2236ff8eb,nl,Nederland,NaN,Ruitervakantie,2.0,NLMALW7P,True
3737,0.0,2019.0,20190572,58ff09752c6f72b3,0402aa14b1aa5ea1,NaN,26.12.2019 14:26:27,03.08.2020,07.08.2020,1150,1150,0,145a6c443d10d78c,nl,Frankrijk,NaN,Ruitervakantie,2.0,FRPAMSTPP,True
20,0.0,2011.0,31,68c0a4ff2d1cc8be,af54b0a5a5dd01cd,NaN,13.05.2011 15:47:39,12.07.2011,19.07.2011,"901,7","901,7",0,9178e7686e56d28f,Netherlands,Frankrijk Haut Languedoc,NaN,NaN,1.0,NaN,True
129,-1.0,2011.0,166,6b4bfa846590dddf,86f033218b01dc22,NaN,19.08.2011 12:22:57,11.09.2011,18.09.2011,"1901,85","1901,85",0,7526875b2e15e594,Nederland,Galway Ierland,NaN,NaN,1.0,NaN,True
2253,0.0,2017.0,2770,b6353804e27efd0a,f3e0a241f6cea4a1,2653bc934e2a44db,15.01.2017 00:00:00,19.08.2017,24.08.2017,730,730,0,4267f0cb3b5cc762,NETHERLANDS,Met de Huifkar door Ierland,NaN,NaN,5.0,NaN,True
2039,0.0,2016.0,2531,145f594d20195835,2a84452cf6f4362f,28040a840774dd65,27.06.2016 00:00:00,17.07.2016,22.07.2016,495,495,0,efbd72ddf0eb500d,Belgium,Paardrijden en Frans leren,NaN,NaN,1.0,NaN,True
3193,0.0,2018.0,3937,aa8641549110d09b,2b79001882723d33,2fcedf93f180a25c,03.09.2018 10:22:12,22.03.2019,24.03.2019,390,390,0,59fd5bafb3a477af,Nederland,"Belgie, Ardennen",NaN,Ruitervakantie,2.0,NaN,True
3312,0.0,2019.0,20190005,cfbf5d9446379df7,c61cd01c212424f6,d3f3e988a2f2261e,03.01.2019 09:56:57,28.04.2019,05.05.2019,2835,2835,0,38cd84b2be544d50,nl,Spanje,NaN,Ruitervakantie,3.0,ESANRAPTTP,True
3666,0.0,2019.0,20190479,6851669992a96ba9,9176c08d72c1f0bc,NaN,01.10.2019 09:24:58,25.10.2019,27.10.2019,"688,33","688,33",0,5b0d4a8fc474f56d,Nederland,Nederland,NaN,Ruitervakantie,2.0,NaN,True
988,0.0,2013.0,1311,77072d46d42668c7,c4026623ca539d93,847ce93e04d5a830,12.03.2014 00:00:00,02.08.2014,09.08.2014,725,725,0,9d911e10de367f0e,Nederland,"Met de Huifkar over de Poesta, Hongarije",NaN,NaN,4.0,NaN,True
3871,-1.0,2020.0,20200162,d73ffa80b21dfb3a,a52df94bb7ed2533,NaN,08.03.2020 19:00:57,26.07.2020,02.08.2020,0,0,0,5f301cea887981c5,nl,Verenigde Staten,NaN,NaN,1.0,USBIRRWP,False
2247,0.0,2017.0,2763,de7f94179659db8c,5ce5de8dbf9fb888,507e6240f80a4416,11.01.2017 00:00:00,07.07.2017,10.07.2017,810,810,0,59fd5bafb3a477af,Nederland,Western paardrijden in de Ardennen,NaN,NaN,2.0,NaN,True
2070,0.0,2016.0,2563,f4dc74b36390325b,7ce1ecaff4c0c368,NaN,18.07.2016 11:45:38,23.09.2016,26.09.2016,540,540,0,653c7efb92f42be4,Nederland,NaN,NaN,NaN,2.0,NaN,True
2748,-1.0,2017.0,3353,735ae5c5429a5903,ac12d34dd84c0155,69ef8e05f0cfee4c,01.12.2017 00:00:00,26.02.2018,28.02.2018,0,0,0,NaN,nederland,Buitenritten in de Ongerepte Natuur van de Loo...,NaN,NaN,2.0,NaN,True
1936,0.0,2016.0,2415,2dee5f8a95a03117,b33e4829dfc8a95f,a05100cec7184e22,25.04.2016 00:00:00,06.05.2016,08.05.2016,304,304,0,27ef3947de4c44d2,be,Paardrijden op het strand in Zeeland,NaN,NaN,2.0,NaN,True
2757,0.0,2017.0,3364,adff06447c762f81,986de3efd36b08dc,11eb45b8d123ac09,27.12.2017 00:00:00,04.08.2018,11.08.2018,1250,1250,0,4267f0cb3b5cc762,Nederland,Ierland,NaN,Huifkar tocht,4.0,NaN,True
947,0.0,2014.0,1255,d3aef70376cfb845,18510234db23c5ca,NaN,06.02.2014 13:30:23,20.09.2014,27.09.2014,"1180,5","1180,5",0,f5ecb98c8c5d97ac,Nederland,Centraal Balkan Bulgarije,NaN,NaN,1.0,NaN,True
508,0.0,2012.0,697,NaN,63f06d6fcf03e0f6,NaN,20.12.2012 15:55:35,10.08.2013,17.08.2013,800,800,0,b3fb0a354e0173c4,Belgium,Dordogne Frankrijk,NaN,NaN,4.0,NaN,True

In [28]:
#df_bestellingen.shape

In [55]:
df_deelnemers.sample(10)

# verwijder GSM kolom
# vewijder email kolom (veel NaN) - ook prive data
# zet Postcode om naar het type int64
# zet Vertrekdatum om naar datetime
# verwijder cijfers uit Stad bv: Brussel 15
#

,Dossier,Vertrekdatum,Familienaam,Voornaam,Bestemming,Geboortedatum,Email,GSM,Straat + nr.,Postcode,Stad
394,242,09.06.2012,25cd7bb55e6b87d8,3c1b6f55e3e8eacd,Italie Molise Abruzzen,24.01.1953,8899b113810cfe6b,NaN,a2fbe6543b63ba37,2286 LE,Rijswijk
2426,1558,12.10.2014,9f8899da5ad92169,37df274da3b4289c,Working Ranch Montana - Authentieke cowboyerva...,12.05.1988,NaN,NaN,NaN,NaN,NaN
4324,2729,13.08.2017,62c1f0e83fd79fd5,f76a31467e8c3674,Avontuurlijke trektocht naar het hart van de T...,29.08.1983,NaN,NaN,NaN,NaN,NaN
4940,3101,02.07.2017,4d4f0e3025560653,9f2a07c17802c803,"Paardrijden in de Elzas, door de Vogezen",15.09.1992,NaN,NaN,NaN,NaN,NaN
7237,20200189,04.07.2020,153048ce64be1fac,e92987c9cd27ae77,Frankrijk,04.08.1963,17f5b4593c8b1ab8,1e0ec27ba4693af8,01ef79e8e6f5da98,7721 BL,Dalfsen
3291,2097,19.06.2016,69c12836421eddb4,63c2fc30119b2fde,Zuid Frankrijk,NaN,a3bd966062542815,572cd0dec0cd6ec8,1890a2c1a915cf1a,9880,AALTER
5961,3833,11.08.2018,793b715532b58761,93461f0159d4aa7f,Ierland,08.04.2009,NaN,NaN,NaN,NaN,NaN
764,480,13.07.2012,bf39d682ed7117ab,19e0d711b572e173,"Blanes, Spanje",23.12.1992,NaN,NaN,68f44938fbf6e9c6,2530,BOECHOUT
7,9,08.05.2011,3b909bbcc68e9b16,9193bc0b8720b6a2,Botswana,18.06.1950,7418f4b177e773ac,81e8411da7b9ca4a,c458b7d47cb458e9,9403 PN,Assen
5868,3760,30.05.2018,a52838be2948e013,6a823f374e893ee3,Paardrijden in Zuid-Frankrijk,27.05.1999,NaN,NaN,NaN,NaN,NaN

In [16]:
#df['Klantnummer'].is_unique

#make specific row as index
#df.set_index('Klantnummer', inplace=True)
#df

In [17]:
# aantal waarden die null zijn in de klantenlijst
#df.isnull().sum()

In [18]:
df.columns

NameError: name 'df' is not defined

In [19]:
#land lijst opruimen (België, belgium, BE) wijzigen naar 1 formaat
#achternaam van deelnemers kunnen worden gelinked met het klantennummer van een bestelling
#Geboortedatum in kantenlijst kan ge

In [20]:
df.dtypes

NameError: name 'df' is not defined

In [21]:
df.info()

NameError: name 'df' is not defined

In [72]:
#values count
#df.Email.value_counts(dropna=False)

In [71]:
df_bestellingen

,Status,Dos. jaar,Dos. nr.,Email,Klantnummer,Klantnummer CMS,Datum creatie,D. vertrek,Datum terug,Totaalprijs,Betalingen dossier,Openstaand dossier,Touroperator,Land klant,Bestemming,Regio,Reistype,# pass.,Pakket Code,Gefactureerd
0,-1.0,2021.0,0,0d484d11bfafa789,e7a25456cafdac84,NaN,04.01.2021 15:11:00,11.09.2021,18.09.2021,0,0,0,c723acdbab5e366e,nl,Spanje,NaN,NaN,1.0,ESOVFIHEXP,False
1,0.0,2011.0,1,36710cc356dbbc5f,756abea9c3e90efe,NaN,28.01.2011 15:01:35,10.07.2011,17.07.2011,"14,52","14,52",0,NaN,Belgium,Netherlands,NaN,NaN,1.0,NaN,True
2,0.0,2011.0,3,37459dca4934080f,cc44932a4b289e81,NaN,07.04.2011 10:17:02,13.05.2011,15.05.2011,620,620,0,dbaa85d88e7fdc52,Netherlands,Belgium,NaN,Autovakantie Europa,2.0,NaN,False
3,0.0,2011.0,4,fe82fc76bd814dcf,17a916e5222e39a0,NaN,08.04.2011 15:02:33,22.05.2011,28.05.2011,1620,1620,0,e11db4bae17e4d63,Nederland,Spain,NaN,NaN,0.0,NaN,False
4,0.0,2011.0,9,7418f4b177e773ac,94bc0881cd24a1b5,NaN,27.04.2011 15:01:28,08.05.2011,15.05.2011,5040,5040,0,NaN,Netherlands,Botswana,NaN,Safari,2.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,0.0,2021.0,20210039,a098cd64ef46d3e6,550888291b01a2d4,67e59fd90cae0e70,02.05.2021 16:15:33,16.06.2021,18.06.2021,335,0,335,3124a9d2236ff8eb,Nederland,Nederland,NaN,Weekendje weg,1.0,NLMALW9P,False
4035,-1.0,2021.0,20210040,9d9fcbd34601d5be,5ca1958fcc9b6d75,NaN,03.05.2021 12:42:36,09.05.2021,11.05.2021,440,0,440,27ef3947de4c44d2,nl,Nederland,NaN,NaN,2.0,NLSTWPAP,False
4036,0.0,2021.0,20210041,737f64db006800d3,19b236bfce3aba00,86359749d0859dbf,03.05.2021 14:12:47,11.06.2021,13.06.2021,315,0,315,5b0d4a8fc474f56d,Nederland,Nederland,NaN,Weekendje weg,1.0,NLRIJVPWP,False
4037,0.0,2021.0,20210043,b985f67e6b21ddb7,5436dead6768cd27,NaN,05.05.2021 10:33:07,25.07.2021,01.08.2021,6118,0,6118,0af23110f6efa1a3,Nederland,Kroatië,NaN,Ruitervakantie,3.0,NaN,False
4038,NaN,NaN,4038,NaN,NaN,NaN,NaN,NaN,NaN,"5.701.099,41 €","5.639.565,48 €","61.533,93 €",NaN,NaN,NaN,NaN,NaN,6886.0,NaN,NaN

In [27]:
#df.boxplot(column='Email', by='Telefoon', rot=90)

In [ ]:

    df['Land'] = np.where(land.str.lower() == 'belgium', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'belgië', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'belgïe', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'west-vlaanderen', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'b', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'belgie', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'begie', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'ybelgie', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'belg', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'be', 'BE', df['Land'])
    df['Land'] = np.where(land == 'OOST-VLAANDEREN - BELGIUM', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'oost-vlaanderen', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'belgiê', 'BE', df['Land'])
    df['Land'] = np.where(land.str.lower() == 'beglië', 'BE', df['Land'])

# Features bepalen

Enkele interessante features die in de data te vinden zijn:

* Feature1

### importeren

Voordat